In [123]:
from pymol import cmd
import numpy as np

In [70]:
aNameDock = ['N1','C10','C9','C11','C8','C12','C7','C13','C19','C15','C1','C14',
             'C18','C16','C2','C3','C17','C4','C5','C6','HC10','HC8','HC9',
             'HC12','HC11','HC14','HC13','HC6','HC7','HC4','HC5','HC2','HC12',
             'HC16','HC','HC1','HC2','HC3','H1','N2','N3','O1','Br1']

In [71]:
aNameRm = ['N1','C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12',
           'C13','C14','C15','C16','C17','C18','C19','H1','H2','H3','H4','H5',
           'H6','H7','H8','H9','H10','H11','H12','H13','H14','H15','H16','H17',
           'H18','H19','N2','N3','O1','Br1']

In [72]:
print(len(aNameDock), len(aNameRm))

43 43

In [77]:
alterName = zip(aNameDock, aNameRm)

for oldName, newName in alterName:
    def receptor(filename):
        cmd.load(filename)
        cmd.alter('name str(oldName)', 'name=str(newName)')
        cmd.rebuild("all")
    cmd.save('receptor.pdb')

In [81]:
receptor("./5C1M_K46_FLEX_LIG_H.pdb")

In [82]:
from biopandas.pdb import PandasPdb
ppdb = PandasPdb()
ppdb.read_pdb('./receptor.pdb')
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,C1,,K46,,,1,,...,1.946,2.038,9.059,1.0,0.0,,,C,NaN,0
1,ATOM,2,,N1,,K46,,,1,,...,0.585,1.583,6.510,1.0,0.0,,,N,NaN,1
2,ATOM,3,,O1,,K46,,,1,,...,3.577,1.509,11.567,1.0,0.0,,,O,NaN,2
3,ATOM,4,,C2,,K46,,,1,,...,2.561,2.447,7.720,1.0,0.0,,,C,NaN,3
4,ATOM,5,,N2,,K46,,,1,,...,2.352,2.935,10.111,1.0,0.0,,,N,NaN,4

In [83]:
!cat /home/rubem_silva/PROJETO_IC/lig_opt/K46/K46_OPT.pdb | awk '{print $3}' > ordemk46.txt

In [84]:
import pandas as pd

In [98]:
col_order=['Order']
df_order = pd.read_csv('./ordemk46.txt', names=col_order)

In [111]:
tOrder = df_order.T
tOrder

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Order,Br1,Cl1,Cl2,O1,N1,N2,N3,C1,C2,C3,...,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19

In [116]:
orderList = tOrder.loc['Order'].values.tolist()
molList = []
for x in orderList:
    molList.append(x)
print(molList)

['Br1', 'Cl1', 'Cl2', 'O1', 'N1', 'N2', 'N3', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19']

In [120]:
mol_list = []
for nAtom in molList:
    mol = ppdb.df['ATOM'][ppdb.df['ATOM']['atom_name'] == nAtom]
    mol_list.append(mol)

In [151]:
mol_list[1]

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
23,ATOM,24,,Cl1,,K46,,,1,,...,0.267,7.422,8.497,1.0,0.0,,,Cl,NaN,23

In [174]:
df = pd.DataFrame()
for i in mol_list:
    df = df.append(i)

ppdb = PandasPdb(df)

TypeError: __init__() takes 1 positional argument but 2 were given

In [173]:
len(df['atom_number'])

45